/* Global Styles */
.news-entry {
    margin: 0.625rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.news-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: #16396b;
}

.news-title {
    font-weight: bold;
    margin: 0;
}

.news-content {
    padding: 0 1.25rem;
}

.actions {
    display: flex;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.actions button img {
    width: 1.125rem;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.actions button img:hover {
    opacity: 0.75;
}

.form-container {
    position: relative;
    margin-top: 3.125rem;
}

.form-container .actions {
    position: absolute;
    top: -1.6rem;
    right: 0;
}

/* Responsive Styles */
@media (min-width: 769px) {
    .news-entry {
        flex-direction: row;
        align-items: center;
    }
}
