/* Reset default margin and padding on html and body elements */
html, body {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #16396b;
}

main {
    width: 100%;
}

/* Visibility Classes */
.show {
    display: block;
}

.hide {
    display: none !important;
}

/* Container Styles */
.container {
    text-align: center;
    max-width: 50rem;
    border-radius: 0.5rem;
    margin: auto;
}

.logo {
    margin-bottom: 1.25rem;
    display: block;
    margin: 1.875rem auto;
}

/* Typography */
.section-title {
    text-align: left;
    font-weight: 800;
    font-size: 1rem;
}

/* Input Styles */
.input-group {
    margin-bottom: 1.25rem;
}

.news-entry,
.input-group input,
.input-group textarea {
    width: calc(100% - 2rem);
    padding: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 0.25rem;
    outline: none;
    text-align: left;
    background-color: rgba(252, 252, 252, 0.35);
    color: #333;
    font-size: 0.875rem;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
    color: #7f92ad;
    text-align: left;
}

.input-group input.is-invalid,
.input-group textarea.is-invalid {
    border: 1px solid #ffc0c0;
}

.input-group input.is-invalid::placeholder,
.input-group textarea.is-invalid::placeholder {
    color: #d06b6b;
    text-align: left;
}

.input-group input.is-invalid + .invalid-feedback,
.input-group textarea.is-invalid + .invalid-feedback {
    color: #d06b6b;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ffc0c0;
    background-color: #fff0f0;
    border-radius: 0.25rem;
    display: block;
}

/* Alert Styles */
.alert {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
}

.alert.alert-danger {
    color: #d06b6b;
    border: 1px solid #ffc0c0;
    background-color: #fff0f0;
}

.alert.alert-success {
    color: #2d995b;
    border: 1px solid #c0ffc0;
    background-color: #f0fff0;
}

/* Button Styles */
.btn {
    width: 100%;
    height: 3.5rem;
    margin: 0.5rem auto;
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.btn-default {
    background-color: #f0f0f0;
    color: #333;
}

.btn.btn-primary {
    background-color: #16396b;
    color: #fff;
}

.btn.btn-primary:hover {
    background-color: #002855;
}